.post_title{
  font-size: 33px;
  font-family: 'Lobster';
  font-weight: normal;
  color: #333;
}
.cat_title{
  font-size: 60px;
  font-family: 'Lobster';
  font-weight: normal;
  color: #333;
}

.det_pic{
  margin-bottom: 30px;
  text-align:center;
  display:block;
}

.centerImage{
   text-align:center;
   display:block;
}

.reply-main{
  margin-left: 20px 0px;
  padding: 17px 0px;
	/*margin: 15px 0px;*/
}
